<div class="project-section-inner-div">
    <div class="project-section-main-heading font-80 inter-bold">Selected project</div>
    <div class="project-section-card" *ngFor="let project of project_list">
        <div class="project-section-image-div">

        </div>
        <div class="project-section-content-div">
            <div class="project-section-content-heading font-38 inter-bold">{{project?.title}}</div>
            <div class="project-section-content-description font-18 inter-regular">With 3 years of experience in Angular and Java, I've navigated enough null pointers to keep things interesting.With 3 years of experience in Angular and Java, I've navigated enough null pointers to keep things interesting...
            </div>
            <button class="primary-button project-section-content-div-button">View project</button>
        </div>
    </div>
</div>