<div class="footer-section-inner-div">
    <div class="footer-section-main-div">
        <div class="footer-section-developer-name-div inter-regular font-12">
            Created with &lt;3 by Ram Kumar
        </div>
        <div class="footer-section-designer-name-div inter-regular font-12">
            All Rights Reserved © 2024
        </div>
        <div class="footer-section-available-div inter-regular font-12">
            <span></span>
            Available for work: Freelance, Full-time
        </div>
    </div>
</div>