.footer-section-main-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    border-top: 1px solid var(--primary-text-color);
    margin-top: 80px;
    padding: 16px;
    .footer-section-available-div{
        display: inline-flex;
        align-items: flex-start;
        gap: 8px;
        span{
            display: block;  
            background-color: var(--primary-success-color);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            min-width: 8px;
            margin-top: 4px;
        }
    }
}

@media (max-width: 992px) {
    .footer-section-main-div{
        justify-content: center;
    }
}