<div class="container">
    <div class="header-section-div">
        <app-header-section></app-header-section>
    </div>
    <div class="home-section-div"  id="home-section-app-id">
        <app-home-section></app-home-section>
    </div>
    <div class="inner-container">
        <div class="project-section-div" id="project-section-app-id">
            <app-project-section></app-project-section>
        </div>
        <div class="skill-section-div" id="skill-section-app-id">
            <app-skill-section></app-skill-section>
        </div>
        <div class="about-section-div" id="about-section-app-id">
            <app-about-section></app-about-section>
        </div>
        <div class="work-place-project-section-div" id="work-section-app-id">
            <app-work-place-project-section></app-work-place-project-section>
        </div>
        <div class="my-hobbies-section-div">
            <app-my-hobbies-section></app-my-hobbies-section>
        </div>
        <div class="contact-section-div" id="contact-section-app-id">
            <app-contact-section></app-contact-section>
        </div>
    </div>
    <div class="footer-section-div">
        <app-footer-section></app-footer-section>
    </div>
</div>
