.container{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    .inner-container{
        display: flex;
        flex-direction: column;
        // max-width: 1600px;
        // margin: 0 auto;
        // overflow: hidden; 
    }
}

.header-section-div{
    position: sticky;
    top: 0px;
    background-color: var(--primary-background-color);
    z-index: 9999;
}

.home-section-div{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - 120px);
    height: 100vh;
}

.my-hobbies-section-div,
.project-section-div,
.skill-section-div,
.about-section-div,
.work-place-project-section-div,
.contact-section-div{
    max-width: 1600px;
    margin: 0 auto;
}

.project-section-div,
.skill-section-div,
.about-section-div,
.work-place-project-section-div,
.my-hobbies-section-div,
.contact-section-div{
    padding: 60px 32px 0px 32px;
}
