.skill-section-main-div{
    display: flex;
    gap: 32px;
    .skill-section-main-heading {
        flex: 1;
        .skill-section-main-heading-text{
            position: sticky;
            top: 80px;
        }
    }
    .skill-section-card-main-div{
        display: flex;
        flex-direction: column;
        flex: 1;
        // gap: 32px;
        position: relative;
        overflow: hidden;
        .skill-section-card-div{
            border-top: 1px solid var(--primary-text-color);
            padding: 40px 0px 40px 0px;
            .skill-section-card-reveal-div{
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            .skill-section-card-label-main-div{
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                .skill-section-card-label-div{
                    border: 1px solid var(--primary-text-color);
                    padding: 4px 8px;
                }
            }

            .skill-section-card-description-div{
                // margin-bottom: 32px;
            }
        }

        .skill-section-card-div:last-child{
            border-bottom: 1px solid var(--primary-text-color);

        }
    }
}

@media (max-width: 992px) {
    .skill-section-main-div{
        flex-direction: column;
        .skill-section-main-heading {
            width: 100%;
            .skill-section-main-heading-text{
                position: relative;
                top: inherit;
            }
        }
        .skill-section-card-main-div{
            width: 100%;
            .skill-section-card-div{
                padding: 32px 0px;
                .skill-section-card-description-div{
                    margin-bottom: 0px;
                }
            }
        }

       
    }
}