<div class="contact-section-inner-div">
    <div class="contact-section-main-div">
        <div class="contact-section-heading-div aBCWhyteinktrap-regular font-20">Got questions?</div>
        <div class="contact-section-heading-div aBCWhyteinktrap-bold font-80">Let’s get in touch</div>
        <div class="contact-section-heading-div inter-regular font-16"> Debug your project with a seasoned front-end developer. Don’t be a
            stranger—hit me up, and let’s turn your ideas into code (minus the bugs, hopefully)!</div>
            <div class="contact-section-social-media-div">
                <i class="fa-regular fa-envelope"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <button class="primary-button contact-section-download-cv-buton" (click)="downloadFile()">Download cv</button>
    </div>
</div>