<div class="home-section-inner-div">
    <div class="home-section-main-div">
        <div class="home-section-first-row">
            <div class="home-section-hi-div inter-regular font-20">Hi, i am</div>
            <div class="home-section-ram-div berkahiBlackletter-bold font-200">Ram</div>
            <div class="home-section-opening-experince-div">
                <div class="home-section-opening-div font-12 inter-bold">
                    <span></span> Open for new job opportunities
                </div>
                <div class="home-section-experince-div font-16 inter-regular">
                    With 3 years of experience in Angular and Java, I've navigated enough null pointers to keep things interesting...
                    <img src="images/four-sharp-star.svg" alt="four-start-icon" class="experience-four-star">
                </div>
            </div>
        </div>
        <div class="home-section-second-row">
            <div class="home-section-role-div">
               <div class="home-section-role-label-div inter-bold font-26">
                Passionate <span>Front-end</span> <br> developer
                <img src="images/seven-sharp-star.svg" alt="seven-star-image" class="passionate-star">
               </div>
            </div>
            <div class="home-section-kumar-div berkahiBlackletter-bold font-200">Kumar </div>
        </div>
    </div>
</div>